<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="../static/mainOutput.css">
</head>
<body class="bg-zinc-900 text-white">
  <main class="max-w-screen-xl mx-auto">
          <section class="bento bento-hover">
          <div class="bento-card" style="background-image: url('https://images.unsplash.com/photo-1546069901-ba9599a7e63c?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTk2NDYxMDJ8&ixlib=rb-4.0.3&q=85')">
          </div>
          <div class="bento-card" style="background-image: url('https://images.unsplash.com/photo-1466637574441-749b8f19452f?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTk2NDYxMDJ8&ixlib=rb-4.0.3&q=85')">
      
          </div>
          <div class="bento-card" style="background-image: url('https://images.unsplash.com/photo-1610348725531-843dff563e2c?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTk2NDYxMDJ8&ixlib=rb-4.0.3&q=85')">
      
          </div>
          <div class="bento-card" style="background-image: url('https://images.unsplash.com/photo-1528498033373-3c6c08e93d79?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTk2NDYxMDJ8&ixlib=rb-4.0.3&q=85')">
      
          </div>
          <div class="bento-card" style="background-image: url('https://images.unsplash.com/photo-1425934398893-310a009a77f9?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTk2NDYyMDV8&ixlib=rb-4.0.3&q=85')">
      
          </div>
        </section>

          <section class="bento bento-perspective bento-hover">
          <div class="bento-card" style="background-image: url('https://images.unsplash.com/photo-1546069901-ba9599a7e63c?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTk2NDYxMDJ8&ixlib=rb-4.0.3&q=85')">
          </div>
          <div class="bento-card" style="background-image: url('https://images.unsplash.com/photo-1466637574441-749b8f19452f?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTk2NDYxMDJ8&ixlib=rb-4.0.3&q=85')">
      
          </div>
          <div class="bento-card" style="background-image: url('https://images.unsplash.com/photo-1610348725531-843dff563e2c?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTk2NDYxMDJ8&ixlib=rb-4.0.3&q=85')">
      
          </div>
          <div class="bento-card" style="background-image: url('https://images.unsplash.com/photo-1528498033373-3c6c08e93d79?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTk2NDYxMDJ8&ixlib=rb-4.0.3&q=85')">
      
          </div>
          <div class="bento-card" style="background-image: url('https://images.unsplash.com/photo-1425934398893-310a009a77f9?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTk2NDYyMDV8&ixlib=rb-4.0.3&q=85')">
      
          </div>
        </section>
      </main>
</body>
</html>